@using WebApp.Views.Utils
@model Core.Common.ViewModels.ProviderRequestViewModel[]

<div class="container">
    <div class="row">
        <div class="col-lg-8 table-responsive bg-light rounded mx-auto">
            <div class="table-title py-2">
                <div class="row py-2">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <h2 class="text-center">Заявки</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-search-dollar"></i>
                                </span>
                                <input type="search" id="custom-filter" class="form-control f bg-light" placeholder="Поиск">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="person_listing" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>#<i class="fa fa-sort"></i></th>
                    <th class="text-center">Пользователь №<i class="fa fa-sort"></i></th>
                    <th class="text-center">Производитель<i class="fa fa-sort"></i></th>
                    <th class="text-center">Описание<i class="fa fa-sort"></i></th>
                    <th class="text-center">Статус<i class="fa fa-sort"></i></th>
                    <th class="text-center">Действия</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var count = 0;
                    foreach (var item in @Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td class="text-center">@item.Id[..8]</td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center">
                                <button href="" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn view-description far fa-eye"> </button>
                            </td>
                            <td class="@UiHelper.GetStatusColor(item) text-center" id="status-request2">@item.Status</td>
                            <td>
                                <form method="post" asp-route-requestId="@item.Id">
                                    <button asp-action="ApproveRequest" asp-route-requestId="@item.Id" type="submit" class="btn accept-request fas fa-check" title="Принять" data-toggle="tooltip"> </button>
                                    <button asp-action="DeclineRequest" asp-route-requestId="@item.Id" class="btn reject-request fas fa-times" type="submit" title="Отклонить" data-toggle="tooltip"> </button>
                                    <button asp-controller="Profile" asp-action="Index" asp-route-user="@item.Id" class="btn request-view fas fa-binoculars" type="submit" title="Профиль пользователя" data-toggle="tooltip"></button>
                                </form>
                            </td>
                        </tr>
                        @await Html.PartialAsync("_ModalViewDescription", @item);

                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.25/js/dataTables.bootstrap5.min.js"></script>
}