@model Core.Common.ViewModels.MainEntityViewModels.ProductViewModel


@if (@Model.DiscountPrice == 0)
{
    @await Html.PartialAsync("_Modal")
    <div class="row col-md-2 mx-2">
        <div class="container">
            <div class="card">
                <img class="card-img-top" src="@Model.CoverPhotoBase64" alt="..."/>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="fw-bolder">@Model.ProductName</h5>
                        $@Model.Price.ToString("0.##")
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @await Html.PartialAsync("_Modal")
    <div class="row col-md-2">
        <div class="container">
            <div class="card">
                <img class="card-img-top" src="@Model.CoverPhotoBase64" alt="..."/>
                <div class="badge discount-badge bg-dark text-white position-absolute">Скидка</div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="fw-bolder">@Model.ProductName</h5>
                        <span class="text-muted text-decoration-line-through">$@Model.Price.ToString("0.")</span>
                        $@Model.DiscountPrice.ToString("0.##")
                    </div>
                </div>
            </div>
        </div>
    </div>
}