@model Core.Common.CreateViewModels.CreateProductViewModel

<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-5 bg-light rounded mx-auto">
            <div class="container">
                <div class="row-cols-1 py-3">
                    <h1 class="text-center">Добавление товара</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
            </div>
            <form method="post" asp-action="NewProduct" enctype="multipart/form-data">
                <input type="hidden" asp-for="ProviderId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-sm-9 mx-auto">
                    <div class="container">
                            <div class="mb-3">
                                <input asp-for="ProductName" type="text" onchange="dynamicValue(this, '#card-input-name')" value="@Model.ProductName" id="input-product-name" class="form-control" placeholder="Имя товара">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <select id="select-category" class="form-control" asp-for="CategoryId" asp-items="@Model.SelectCategory">
                                    <option>Категория</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <select id="select-manufacturer" class="form-control" asp-for="ManufacturerId" asp-items="@Model.SelectManufacturer">
                                    <option>Производитель</option>
                                </select>
                                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <select id="select-product-group" class="form-control" asp-for="ProductGroupId" asp-items="@Model.SelectProductGroups">
                                    <option>Группа продуктов</option>
                                </select>
                                <span asp-validation-for="ProductGroupId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input asp-for="Amount" type="number" value="@Model.Amount" id="input-product-amount" class="form-control" placeholder="Количество">
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="input-product-price" class="form-label">Цена</label>
                                <input asp-for="Price" type="range" max="10000" onchange="dynamicValue(this, '#card-input-price')" value="@Model.Price" id="input-product-price" class="form-range" placeholder="Цена">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="card mb-5">
                                <h5 class="text-center fw-bolder">Пример</h5>
                                <div class="image-area">
                                    <label>
                                        <input id="upload" asp-for="Photo" type="file" onchange="readURL(this);" class="form-control border-0">
                                        <img id="imageResult" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt=""/>
                                        <span asp-validation-for="Photo" class="text-danger"></span>
                                    </label>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <h5 class="fw-bolder" id="card-input-name">Телевизор</h5>
                                        <span id="card-input-price" class="text-muted">$20.00</span>
                                    </div>
                                </div>
                            </div>

                            <div class="container my-1">
                                <div class="row-cols-1 py-2">
                                    <input type="submit" value="Добавить" class="btn btn-primary"/>
                                </div>
                                <div class="row-cols-1 py-2">
                                    <a asp-action="Index" class="btn btn-secondary">Вернутся назад</a>
                                </div>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}