@using WebApp.Views.Utils
@model Core.Common.ViewModels.OrderItemViewModel

<tr xmlns="http://www.w3.org/1999/html">
    <td>
        <figure class="itemside align-items-center">
            <div class="aside">
                <img class="img-thumbnail img-auto" src="@Model.CoverPhotoBase64" alt="">
            </div>
            <div class="row-cols-md-1">
                <figcaption class="info">
                    <p class="text-muted small">@Model.ManufacturerName </p>
                    <p class="text-muted small">@Model.ProviderName </p>
                    <p class="text-muted small">@Model.CategoryName </p>
                </figcaption>
            </div>
        </figure>
    </td>
    <td>
        <input disabled type="number"  value="@Model.Amount" class="form-control form-control-sm">
    </td>
    <td>
        @if (@Model.DiscountPercentage == 0)
        {
            <div class="price-wrap">
                <p class="price">$@UiHelper.GetNormalizePriceString(Model.Price)</p>
            </div>
        }
        else
        {
            <div class="price-wrap">
                <p class="price">$@UiHelper.GetNormalizePriceString(Model.DiscountPrice)</p> <small class="text-muted"><del>$@UiHelper.GetNormalizePriceString(Model.Price)</del> </small>
            </div>
        }
    </td>
    <td class="text-right d-none d-md-block">
        <form method="post">
        <button asp-action="Remove" asp-route-orderItemId="@Model.Id" class="btn btn-light" data-abc="true">Выкинуть</button>
        </form>

    </td>
</tr>